/* UPDATE CONSTANTS.JS WHEN CHANGING CLASS NAME */

.station-dot {
    width : var(--station-size);
    height : var(--station-size);
    background-color : var(--station-color);
    border-style: solid;
    border-width: 3px;
    border-color: var(--station-border-color);
    border-radius : 50%;
    position : absolute;
    z-index : 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    pointer-events:all;
    transform: translate(-50%, -50%);
    user-select: none;
}

.station-dot__label {
    position: absolute;
    display: var(--station-label-display);
    bottom: -20px;
    pointer-events: none;
    user-select: none;
    text-wrap: none;
    white-space: nowrap;
}

.station-dot:hover {
    border-color: #120084;
}

.station-dot.selected {
    border-color: #ff0000;
}

.station-dot.dragging {
    opacity: 0.5;
    cursor: grabbing;
}