.track-line {
    pointer-events: none;
    stroke: var(--track-color);
    stroke-width: 2;
}

.track-line__label {
    position: relative;
    pointer-events: none;
    user-select: none;
    text-wrap: none;
    white-space: nowrap;
}

.selection-line {
    pointer-events: stroke;
    stroke-width: 15;
    stroke: black;
    opacity: 0;
}

.track-line.selected {
    stroke: red;
}

.selection-line:hover + .track-line {
    stroke: lightblue; 
    cursor: pointer;
}