:root {
    --dot-size: 20px;
    --dot-color: white;
    --dot-border-color: blue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:small
}

#canvas {
    height: 250px;
    width: 500px;
    background-color: rgb(253, 255, 127);
}

#btn-save {
    display: block;
    margin-top: 20px;
}