
.station-dot {
    width : var(--dot-size);
    height : var(--dot-size);
    background-color : var(--dot-color);
    border-style: solid;
    border-width: 3px;
    border-color: var(--dot-border-color);
    border-radius : 50%;
    position : absolute;
    z-index : 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.station-dot__label {
    position: absolute;
}

.station-dot:hover {
    border-color: darkblue;
}

.station-dot.selected {
    border-color: red;
}

.station-dot.dragging {
    opacity: 0.5;
    cursor: grabbing;
}